
<div class="container">
<p id="notice"><%= notice %></p>
<h1 style="text-align:center;">Control de visitantes</h1>
<div class="table-responsive">
<table class="table table-dark">
  <thead>
    <tr>
      <th>Dia</th>
      <th>Hora de llegada</th>
      <th>Nombre</th>
      <th>Compania</th>
      <th>Eps</th>
      <th>Arl</th>
      <th>Rh</th>
      <th>Alergias</th>
      <th>Numero en caso de emergencia </th>
      <th>Alergias</th>
      <th>Hora de salida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.date %></td>
        <td><%= visitor.arrival %></td>
        <td><%= visitor.name %></td>
        <td><%= visitor.company %></td>
        <td><%= visitor.eps %></td>
        <td><%= visitor.arl %></td>
        <td><%= visitor.rh %></td>
        <td><%= visitor.alergy %></td>
        <td><%= visitor.phone %></td>
        <td><%= visitor.injury %></td>
        <td><%= visitor.output %></td>
        <td><%= link_to 'Mostrar', visitor %></td>
        <td><%= link_to 'Editar', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Eliminar', visitor, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo visitante', new_visitor_path %>
</div>
</div>