
<div class="card" style=" width: 600px;max-width: 100%;border: 2px solid #eeeeee;background: #eeeeee;margin:0 auto;padding: 40px;"> 
<div class="logo"><img src="<%= asset_path 'logo-min.png' %>" style="height: 80px;"><h4 class="mb-12">Control de visitantes</h4></div>
<p id="notice"><%= notice %></p>
<p>
  <strong class="stellblue">Fecha:</strong>
  <%= @visitor.date %>
</p>

<p>
  <strong class="stellblue">Hora de llegada:</strong>
  <%= @visitor.arrival.strftime("%I:%M %p") %>
</p>

<p>
  <strong class="stellblue">Nombre:</strong>
  <%= @visitor.name %>
</p>

<p>
  <strong class="stellblue">Compañía:</strong>
  <%= @visitor.company %>
</p>

<p>
  <strong class="stellblue">Eps:</strong>
  <%= @visitor.eps %>
</p>

<p>
  <strong class="stellblue">Arl:</strong>
  <%= @visitor.arl %>
</p>

<p>
  <strong class="stellblue">Rh:</strong>
  <%= @visitor.rh %>
</p>

<p>
  <strong class="stellblue">Alergias:</strong>
  <%= @visitor.alergy %>
</p>

<p>
  <strong class="stellblue">Número en caso de emergencia:</strong>
  <%= @visitor.phone %>
</p>

<p>
  <strong class="stellblue">¿Sufrió lesión en la visita?:</strong>
  <%= @visitor.injury ? "Si" : "no" %>
</p>

<p>
  <strong class="stellblue">Hora de salida:</strong>
  <%= @visitor.output.strftime("%I:%M %p") %>
</p>

</div>